/* =================================
	Gradient background
==================================== */

@import "../node_modules/compass-mixins/lib/_compass.scss";
@import "./_header-animation.scss";

@include keyframes(dropHeader) {

}

.intro-background {
    width: 100vw;
    height: 100vh;
    .intro {
        display: block;
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15vh;
        @include animation('dropHeader 1 ease-in 0.7s');
        .intro-hero {
            color: black;
            letter-spacing: 0.2px;
            text-align: left;
            strong {
                font-weight: normal;
            }
            #name-hero {
                font-weight: 700;
            }
        }
        .intro-description {
            text-align: left;
        }
        #intro-img {
            display: block;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 0 0 2px white;
        }
    }
    #intro-link {
        color: black;
        display: block;
        width: 165px;
        margin-left: auto;
        margin-right: auto;
        font-size: 19px;
        letter-spacing: 0.9px;
        padding: 5px;
        border: 1px solid #fff;
        border-radius: 40px;
        text-align: center;
        -webkit-transition: all .8s;
        transition: all .8s;
        &:hover {
            width: 200px;
        }
    }
}

@media screen and (min-width: 360px) {
    .intro-hero {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .intro-description {
        font-size: 18px;
    }
    .intro-question {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .intro-hero {
        font-size: 2.5rem;
        line-height: 1.5;
    }
    .intro-description {
        font-size: 28px;
    }
    .intro-question {
        font-size: 22px;
    }
    .intro-background #intro-link {
        margin-top: 50px;
    }
}