/* =================================
	Gradient background
==================================== */

@import "../node_modules/compass-mixins/lib/_compass.scss";
@import "./_header-animation.scss";

@include keyframes(dropHeader) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro-background {
    width: 100vw;
    height: 100vh;
    .intro {
        display: block;
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15vh;
        @include animation('dropHeader 1 ease-in 0.7s');
        .intro-hero {
            color: black;
            font-size: 2.5rem;
            line-height: 1.5;
            letter-spacing: 0.2px;
            text-align: left;
            strong {
                font-weight: normal;
            }
            #name-hero {
                font-weight: 700;
            }
        }
        .intro-description {
            font-size: 28px;
            text-align: left;
        }
        .intro-question {
            font-size: 22px;
        }
        #intro-img {
            display: block;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 0 0 2px white;
        }
    }
    #intro-link {
        color: black;
        display: block;
        width: 165px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
        font-size: 19px;
        letter-spacing: 0.9px;
        padding: 5px;
        border: 1px solid #fff;
        border-radius: 40px;
        text-align: center;
        -webkit-transition: all .8s;
        transition: all .8s;
        &:hover {
            width: 200px;
        }
    }
}

@media (max-width: 350px) {

}

@media (max-width: 410px) {

}

@media (max-width: 450px) {

}

@media (max-width: 650px) {

}

@media (min-width: 769px) {

}

@media (max-width: 850px) {

}